$blocks-menu-width: 250px;

.blocks-menu
{
    margin: 10px 10px 10px 20px;
    padding: 10px 20px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);

    width: $blocks-menu-width;

    background-color: $light;
}

.blocks-menu .container .content .head
{
    text-align: center;
    .input
    {
        margin-top: 10px;
        width: calc($blocks-menu-width - 20px);
    }
}

.blocks-menu .container .content .body .items
{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: calc(100vh - 190px);
}

.blocks-menu .container .content .body .items .item
{
    padding: 10px 5px;
    margin: 0px 10px 10px 10px;
    

    cursor: pointer;

    .button
    {
        margin-right: 10px;
        i {
            color: $light;
        }
    }
}

.blocks-menu .container .content .body .items .item.active
{
    text-decoration: underline;
}

.blocks-menu .container .content .body .items .item .controls 
{
    margin-top: 10px;
}