.editor-container
{
    text-align: justify;
}

.editor-container .head
{
    text-align: center;
}

.editor-container .content .editor
{
    z-index: 2;
}

.editor-container .content .editor .editor-controls 
{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px -50px;
}

.editor-container .content .editor .box
{
    display: flex;
    align-items: center;
}

.block-nb
{
    position: relative;
    margin-left: -70px;
    padding-right: 70px;
    font-size: 1.2em;
}

@media screen and (min-width: 1400px){
    .editor-container .content
    {
        display: flex;
        padding: 1em;
        justify-content: center;
    }

    // .content .page-menu
    // {
    //     display: flex;
    //     position: absolute;
    //     left: 0;
    //     width: calc(100vw - 1000px);
    //     max-width: max(0px, (100vw - 1000px)*999);
    // }

    .editor-container .content .editor
    {
        width: 1000px;
        min-height: 90vh;

        flex-shrink: 0;

        box-shadow: 5px 5px 18px 8px rgba(0,0,0,0.50);
        border-radius: 5px;
    }
}

@media screen and (max-width: 1400px){
    .editor-container .content
    {
        display: flex;
        padding: 1em;
        justify-content: center;
    }

    .content .page-menu
    {
        display: none;
        width: calc(100vw - 1000px);
        max-width: max(0px, (100vw - 1000px)*999);
    }
    
    .content .blocks-menu
    {
        display: none;
        width: calc(100vw - 1000px);
        max-width: max(0px, (100vw - 1000px)*999);
    }

    .editor-container .content .editor
    {
        max-width: 1000px;
        width: 90vw;
        min-height: 90vh;

        flex-shrink: 0;

        box-shadow: 5px 5px 18px 8px rgba(0,0,0,0.50);
        border-radius: 5px;
    }
}


.editor-container .content .editor .editor-content
{
    margin: 1em 2em;
}

.editor-container .content .editor .editor-content .box .block
{
    margin: 0.5em 0;
    width: 100%;
    z-index: 2;
}

.editor-container .content .editor .editor-content .box .block *:focus
{
    outline: none;
}

.editor-container .content .editor .editor-content .new-block
{
    border: 4px $outline-color solid;
    border-radius: 10px;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.editor-container .content .editor .editor-content .box .caption {

    display: flex;

    .image-content {

        height: 200px;
        width: 200px;

        padding-right: 25px;

        .caption-image {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 10px;
        }

        .caption-image:hover
        {
            outline: 1px solid $info;
            cursor: pointer;
        }
    }
    
    .text-caption {
        width: calc(100% - 200px);
    }
}

.editor-container .content .editor .editor-content .box .caption.is-right
{
    flex-direction: row-reverse;
    
    .image-content {
        padding-right: 0;
        padding-left: 25px;
    }
}

.editor-container .content .editor .editor-content .box .caption.is-centered
{
    align-items: center;
}

.editor-container .content .editor .editor-content .box .block.images
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        margin: 0px 5px;
        min-width: 25%;
        max-width: 50%;
        max-height: 500px;
        height:  fit-content;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

}

.image-form 
{
    min-width: 200px;
    min-height: 200px;
    height: 100%;
    width: 100%;

    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid $info;
    border-radius: 10px;

    p 
    {
        font-weight: 600;
    }
}

.image-form:hover
{
    outline: 1px solid $info;
    cursor: pointer;
    p
    {
        text-decoration: underline;
    }
}

.block.code {
    margin: 5px;
}

.block.code .code-container
{
    padding: 25px;
    border-radius: 10px;
    background-color: black;
    p
    {
        color: $light;
        margin-top: -15px;
    }
}

.block.code .code-container .lang
{
    background-color: $light;
    color: $dark;
    width: 50px;
    padding: 5px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    position: relative;
    left: 815px;
}

.block.banner
{

    height: 250px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .banner-text
    {
        position: absolute;
        color: $light;
        font-size: 2em;
        min-width: 50px;
        background-color: rgba(0,0,0,0.50);
        padding: 5px 10px;
        border-radius: 10px;

    }

    img
    {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}