$navbar-height: 50px;

.main-menu.navbar-container
{
    height: $navbar-height;
    background-color: $light;
    width: 100vw;
    position: fixed;
    z-index: 7;
}

.main-menu.navbar-container .content
{
    height: 100%;
    display: flex;
    align-items: center;
}

.main-menu.navbar-container .content .items
{
    width: $navbar-open;
}

.main-menu.navbar-container .content .items
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: $navbar-close;
}

.main-menu.navbar-container .content .items .item
{
    font-size: 1.2em;
    // padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-menu.navbar-container .content .items .item:hover
{
    cursor: pointer;
    color: $black;
}

.main-menu.navbar-container:hover .content .items .item a {
    width: 150px;
}

.main-menu.navbar-container .content .items .item a
{
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.main-menu.navbar-container .content .items .item a.active
{
    border-radius: 7px;
    color: $light;
    background-color: $dark;
    text-decoration: none;
}

.main-menu.navbar-container .content .items .item a
{
    border-radius: 7px;
    color: $dark;
    background-color: $light;
    text-decoration: none;
}

.main-menu.navbar-container .content .items .item .active i,
.main-menu.navbar-container .content .items .item a i
{
    padding-right: 5px;
}

.main-menu.navbar-container .content .items .item .active i, 
.main-menu.navbar-container .content .items .item .active p
{
    color: $light;
}

.main-menu.navbar-container .content .items .item p
{
    display: block;
}