.modal
{

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 9;

    .modal-bg
    {
        
        width: 100%;
        height: 100%;
        background-color: #00000075;
        filter: blur(100px);
        //z-index: 2;
        
    }

    .modal-content
    {
        position: fixed;
        height: 100%;
        width: 100%;
    }

}