.wikis-container .wikis
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wiki-container .wiki-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 50px);
    overflow: hidden;
}

.page
{
    flex-grow: 10;
    overflow: scroll;
    height: calc(100vh - 50px);
}


.wikis-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wikis-container .errors-content
{
    width: 350px;
    margin-top: 10px;
}

.wikis-content
{
    display: flex;
    flex-direction: row;
}