@import './settings';
@import './components/components.scss';

@import './modal';
@import './blockModal';

@import './mainNav';
@import './editor';
@import "./auth";


* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $dark;
}