@import './settings';
@import './components/components.scss';

@import './modal';
@import './blockModal';

@import './mainNav';
@import './editor';
@import "./auth";


* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $dark;
}

.app
{
    display: flex;
}

.container
{
    width: calc(100vw - $navbar-close);
}


.main-menu.navbar-container:hover ~ .container {
    width: calc(100vw - $navbar-open);
}

.main-menu.navbar-container:hover
{
    width: $navbar-open;
}

.main-menu.navbar-container
{
    width: $navbar-close;
}