@import './settings';
@import './components/components.scss';

@import './modal';
@import './blockModal';
@import './pageModal';
@import './uploadModal';
@import './wikiModal';
@import './articleModule';
@import './imageModal';

@import './pageMenu';
@import './blocksMenu';


@import './mainNav';
@import './editor';
@import "./auth";
@import "./wikis";


* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $dark;
}

.app
{
    display: flex;
    flex-direction: column;
}

.container
{
    // width: calc(100vw - $navbar-close);
    margin-top: $navbar-height;
}


.side-menu:hover ~ .container {
    width: calc(100vw - $navbar-open);
}

.side-menu:hover
{
    animation: openNav 0.2s forwards;
}

.side-menu
{
    animation: closeNav 0.2s forwards;
}

@keyframes openNav {
   0% { width: $navbar-close; }
   100% { width: $navbar-open; }
}

@keyframes closeNav {
    0% { width: $navbar-open; }
    100% { width: $navbar-close; }
}